<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Title</title>
    <link rel="stylesheet" href="layout.css">
    <!-- <link rel="stylesheet" href="https://raw.github.com/daneden/animate.css/master/animate.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script> -->
    <script src="/socket.io/socket.io.js"></script>
    <script src="script.js"></script>
  </head>
  <body>
    <div id="main-content">
      <div class="center">
        <form id="login-form" class="animated fadeIn" action="">
          <label for="user-name">User name</label>
          <input class="form-input" id="user-name" type="text" name="UserName" required>
          <label for="password">Password </label>
          <input class="form-input" id="password" type="password" name="PassWord" required>
          <input id="submit-btn" type="submit" value="Login">
        </form>
      </div>
    </div>
  </body>
</html>
