<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Register</title>
        <script src="/socket.io/socket.io.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="script_register.js"></script>
        <!-- <link rel="stylesheet" href="https://raw.github.com/daneden/animate.css/master/animate.css"> -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="layout_register.css">
    </head>
    <body>
        <div id="wrapper" class="animated bounce">
            <div id="register-form">
                <label for="name">Name</label>
                <input class="register-form-input" id="name" type="text" name="name" placeholder="Enter your name here">
                <div class="message" for="name" >fill</div>
                <label for="Password">Password</label>
                <input class="register-form-input" id="Password" type="password" name="Password" placeholder="Create Password">
                <div class="message" for="Password"></div>
                <label for="age-select">Age</label>
                <div id="age-dropdrown" class="dropdown select">
                    <button name="button" class="dropdown-btn" data-toggle="age-dropdown-content" id="age-dropdown-btn">Dropdown</button>
                    <ul class="dropdown-content" id="age-dropdown-content">
                        <li>Option 1</li>
                        <li>Option 2</li>
                        <li>Option 3</li>
                        <li>Option 3</li>
                        <li>Option 3</li>
                        <li>Option 3</li>
                    </ul>
                </div>
                <div class="btn" id="register-form-submit-btn">Create</div>
            </div>
        </div>
    </body>
</html>
